## Operators
1. <strong>Unirary Operator</strong>
   - Required single operands
   - Return same datatype
   - <strong>Types:</strong>
     1. <strong>Prefix</strong>
        1. Pre-increment - first increment and then use/assign
        2. Pre-decrement - first decrement and then use/assign
     2. <strong>Postfix</strong>
        1. Post-increment - first use/assign and then increment
        2. Post-decrement - first use/assign and then decrement

#### Prefix

##### Pre-increment

In [1]:
class Main{
    public static void main(String[] args){
        int a = 10;
        System.out.println(++a);
    }
}
Main.main(null);

11

##### Pre-decrement

In [2]:
class Main{
    public static void main(String[] args){
        int a = 10;
        System.out.println(--a);
    }
}
Main.main(null);

9

#### Postfix

##### Post-increment

In [9]:
class Main{
    public static void main(String[] args){
        int a = 10;
        System.out.println(a++);
    }
}
Main.main(null);

10

In [10]:
class Main{
    public static void main(String[] args){
        int a = 10;
        System.out.println(a++);
        System.out.println(a);
    }
}
Main.main(null);

10
11

##### Post-decrement

In [11]:
class Main{
    public static void main(String[] args){
        int a = 10;
        System.out.println(a--);
    }
}
Main.main(null);

10

In [3]:
class Main{
    public static void main(String[] args){
        int a = 10;
        System.out.println(a--);
        System.out.println(a);
    }
}
Main.main(null);

10
9

2. <strong>Arithmatic Operators</strong>
   - it needs two operands
   - return at least int or bigger datatype

<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th>Operator Name</th>
        <th>Symbol</th>
    </tr>
    <tr>
        <td>Addition</td>
        <td>+</td>
    </tr>
    <tr>
        <td>Substration</td>
        <td>-</td>
    </tr>
    <tr>
        <td>Multiplication</td>
        <td>*</td>
    </tr>
    <tr>
        <td>Division</td>
        <td>/</td>
    </tr>
    <tr>
        <td>Modulus</td>
        <td>%</td>
    </tr>
</table>

###### Some Examples

In [13]:
10+5

15

In [14]:
10-5

5

In [15]:
10*5

50

In [16]:
10/5

2

In [19]:
10%3 // used to find remainder

1

In [18]:
10/3f

3.3333333

3. <strong>Assignment Operator</strong>
   - Used to assign values to operands/variables
   - It return same datatype
<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th>Operator Name</th>
        <th>Symbol</th>
    </tr>
    <tr>
        <td>Equal</td>
        <td>=</td>
    </tr>
    <tr>
        <td>Plus Equal</td>
        <td>+=</td>
    </tr>
    <tr>
        <td>Minus Equal</td>
        <td>-=</td>
    </tr>
    <tr>
        <td>Multiply Equal</td>
        <td>*=</td>
    </tr>
    <tr>
        <td>Division Equal</td>
        <td>/=</td>
    </tr>
    <tr>
        <td>Modulus Equal</td>
        <td>%=</td>
    </tr>
</table>

###### Some Examples

In [129]:
int a = 5;
double b = 10;
a = a + b; // normal way and it's not allowed to assign double into a

CompilationException:

In [105]:
int a = 5;
double b = 10;
a += b;

15

In [106]:
int a = 5;
double b = 10;
a -= b;

-5

In [107]:
int a = 5;
double b = 10;
a *= b;

50

In [108]:
int a = 5;
double b = 10;
a /= b;

0

In [109]:
int a = 5;
double b = 10;
a %= b;

5

4. <strong>Relational Operators</strong>
   - Used to compare two objects/operands.
   - It returns boolean value on the basis of comparison.
   - It compares on the basis of memory(stored in heap meomory and the data is stored by hashcode of that given data. The hashcodes are arranged by ascending order and on the basis of arrangements objects are compared. The hashcodes stored in heap memory is known as Hash Table)
<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th>Operator Name</th>
        <th>Symbol</th>
    </tr>
    <tr>
        <td>Less than</td>
        <td>< </td>
    </tr>
    <tr>
        <td>Greater  than</td>
        <td> > </td>
    </tr>
    <tr>
        <td>Less than Equal to</td>
        <td> <= </td>
    </tr>
    <tr>
        <td>Greater than Equal to</td>
        <td> >= </td>
    </tr>
    <tr>
        <td>Not Equal</td>
        <td> != </td>
    </tr>
    <tr>
        <td>Double Equal</td>
        <td> == </td>
    </tr>
</table>

###### Some Examples

In [110]:
10<5

false

In [111]:
10>5

true

In [112]:
5<=5

true

In [113]:
15>=14

true

In [114]:
5!=6

true

In [115]:
45 == 45

true

5. <strong>Logical Operators</strong>
   - It is used to perform multiple comparisons.
   - it returns boolean value on the basis of comparisons.
<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th>Operator Name</th>
        <th>Symbol</th>
    </tr>
    <tr>
        <td>Logical AND</td>
        <td> && </td>
    </tr>
    <tr>
        <td>Logical OR</td>
        <td> || </td>
    </tr>
    <tr>
        <td>Logical NOT</td>
        <td> ! </td>
    </tr>
</table>

###### Some Examples

In [116]:
true && true

true

In [117]:
true || false

true

In [118]:
!true

false

5. <strong>Shift Operator</strong>
<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th>Operator Name</th>
        <th>Symbol</th>
    </tr>
    <tr>
        <td>Left Shift</td>
        <td> << </td>
    </tr>
    <tr>
        <td>Right Shift</td>
        <td> >> </td>
    </tr>
</table>

In [119]:
25<<2

100

In [120]:
25>>2

6

6. <strong>Bitwise Operator</strong>
    <table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th>Operator Name</th>
        <th>Symbol</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>Bitwise AND</td>
        <td> & </td>
        <td> 5 & 1 = 101 & 001 = 001 = 1</td>
    </tr>
    <tr>
        <td>Bitwise OR</td>
        <td> | </td>
        <td>5 | 1 = 101 | 001 = 101 = 5</td>
    </tr>
    <tr>
        <td>Bitwise XOR</td>
        <td> ^ </td>
        <td>5 ^ 1 = 101 ^ 001 = 100 = 4</td>
    </tr>
</table>

<br>

<h4>Inputs and correspondence outputs of bitwise operators</h4>

<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th colspan="3">Bitwise AND (&)</th>
    </tr>
    <tr>
        <th colspan="2">Input</th>
        <th>Output</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>0</td>
    </tr>
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>

<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th colspan="3">Bitwise OR (|)</th>
    </tr>
    <tr>
        <th colspan="2">Input</th>
        <th>Output</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>

<table style="width:100%; line-spacing:10px; letter-spacing: 3px; font-size: 14px; text-align: center;">
    <tr>
        <th colspan="3">Bitwise XOR (^)</th>
    </tr>
    <tr>
        <th colspan="2">Input</th>
        <th>Output</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>0</td>
    </tr>
    <tr>
        <td>1</td>
        <td>0</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>
<hr>

## Programs on Operators

##### WAP to find last digit of a number

In [121]:
class LastDigit{
    public static void main(String[] args){
        int a = 25;
        System.out.println(a%10); // %10 is used to find last digit of number
    }
}
LastDigit.main(null);

5

##### WAP to find second last digit of given number

In [130]:
class SecondLastDigit{
    public static void main(String[] args){
        int a = 50125;
        System.out.println(a%100/10); // %100 is used to find last two digits of number and 
                                     // then /10 is used to find second last digit of a number
    }
}
SecondLastDigit.main(null);

2

##### WAP to perform addition of a number without using '+' operator

In [123]:
class Addition{
    public static void main(String[] args){
        int number1 = 5;
        int number2 = 5;
        System.out.println( number1 - ( -number2 ) ); 
    }
}
Addition.main(null);

10

##### WAP to find simple interest

In [124]:
class SimpleInterest{
    public static void main(String[] args){
        double principleAmount = 1542.025;
        double interestRate = 10.25;
        double year = 10;
        System.out.println(
            principleAmount * interestRate * year / 100
        );
    }
}
SimpleInterest.main(null);

1580.575625

##### WAP to find compound interest

In [125]:
class CompoundInterest{
    public static void main(String[] args){
        double principleAmount = 154269.25;
        double interestRate = 10.26;
        double year = 2;
        double compoundInterest = principleAmount * Math.pow(1+interestRate/100, year) - principleAmount;
        System.out.println(compoundInterest);
    }
}
CompoundInterest.main(null);

33280.00547013001

##### WAP to find diagonal

In [126]:
class Diagonal{
    public static void main(String[] args){
        int firstSide = 8;
        int secondSide = 6;
        System.out.println(
            Math.sqrt(
                Math.pow(firstSide,2) + Math.pow(secondSide,2)
            )
        );
    }
}
Diagonal.main(null);

10.0

##### WAP to find area of irregular rectangle

In [131]:
class AreaOfQuadrilateral{
    public static void main(String[] args){
        double firstSide = 14;
        double secondSide = 23;
        double thirdSide = 17; // opposite side of first side
        double fourthSide = 22; // opposite side of second side

        double semiParameter = (firstSide + secondSide + thirdSide + fourthSide)/2;

        double firstTriangleArea = Math.sqrt(
            (semiParameter - firstSide) * (semiParameter - secondSide) * 
            (semiParameter - thirdSide) * (semiParameter - fourthSide)
        );
        double secondTriangleArea = Math.sqrt(
            (semiParameter - secondSide) * (semiParameter - thirdSide) * 
            (semiParameter - firstSide - fourthSide) * (semiParameter - firstSide + fourthSide)
        );
        System.out.println(firstTriangleArea + secondTriangleArea);
    }
}
AreaOfQuadrilateral.main(null);

518.0281734178798

In [134]:
5^1

4